-#/**
-# * Created by aleks_i on 25.03.16.
-# */

- provide(:title, "Display")
%h3.test_weather
  Прогноз погоды для:  #{@title.inspect}
  %br
  (https://developer.yahoo.com)
  %br
  %hr

- if @cond_wheather.blank?
  %table{ :style => "table-layout: auto; title: 'No Values results...';" }
    .results
      %h2=  "no values"
      %h2=  "no weather prognose"
  -#%tr
        -#%td.left.grey.italic
        -#No Values results...
  %br
  %hr
- else
  %table{ :style => "table-layout: auto; title: 'All images expert values';" }
    .results
    %tr{ :style => "font-family: $helvetica; font-size: 1.3em; " }
      %th.name
        date
      %th day
      %th high
      %th low
      %th wheather
      %th image

    - @cond_wheather.take(7).each do |one_day_weather|
      %tr.weather_one_row
        %td{ :style => "text-align: left; width: 7em" }= one_day_weather['date']
        %td{ :style => "color: rgba(122, 13, 75, 1);" }= one_day_weather['day']

        %td= one_day_weather['high']
        %td= one_day_weather['low']
        %td= one_day_weather['text']
        %td= image_tag('/assets/weather/' + one_day_weather['image'], {:width => "53", :height =>"47", title: "Weather image"} )

    -#= paginate @composite_results_paged
  -#.pagination= render 'results_list' work_path  'javascript:history.go(-1);'
-#= link_to "Return to main page", display_theme_path(theme_id: @selected_theme_id), :method => "post",  class: "btn btn-lg btn-primary", title: "Go to main page", remote: true
= link_to t(".return_to_main"), work_path,  class: "btn btn-lg btn-primary", title: "Go to main page"
%br
%br
