- provide(:title, "Test")

-#%h1= t('.contacts_title')
%h1= 'tests'

.about-copy

  .select_theme
    = render 'main/button_test_select'
    -#, locale: @current_locale

  %h3.list
    Test 1
    = link_to 'Задача 1. Базовые умения верстки и обмена данными', task_one_path,  remote: true
    -#,  :format => "js"
    %br
    .test_task
      Eсть прогноз погоды по ссылке в формате JSON: https://developer.yahoo.com/weather/
      %br
      1) Отрисовать столбиковую диаграмму на неделю;
      %br
      2) К каждому столбику добавить изображение состояния погоды - облачность, дождь и т.д.
    %br

    .test_start_btn
    -#  = render 'main/test_start_btn'
      -#, locale: @current_locale


    -#.select_theme
    -#= render 'work/button_theme_select', locale: @current_locale

    %br

    Test 2
    = link_to 'Задача 2. Динамическая замена страницы', about_path
    %br
    1) Прогрузить страницу яндекса и изменить все текстовое содержание ниже поисковой строки
    (перевести на английский (верхняя часть на русском, нижняя на английском, пользуясь любым автопереводчиком или api);
    2) При вводе строки поиска перехватить результаты и отобразить в рандомном порядке результат поиска
    (Страница не должна быть идентична - только визуально похожа)
    %br
    %br

    Test 3
    = link_to 'Задача 3. Динамическая замена страницы', about_path
    %br
    Сделайте полную визуальную копию главной страницы сайта http://www.bankofamerica.com без никакого обращения на сайт банка - даже за js либами
    1) Поменять местами следующие данные: "Access your accounts","Pay bills","Set up alerts", Maketransfers" в случайном порядке вместе с картинками;
    2) Сохранить учетные данные при вводе в форму авторизации с копии сайта.
    %br
    %br


  %i.fa.fa-flag.iconsMain{ style: "color: #C44BB4; font-size: 4em; position: relative; left: 50%;" }


