%h1 Список пользователей

-#%h1 Cache Stats
-#%table
-#  %tr
-#    %th Metric
-#    %th Value
-#  %tr
-#    %td Cache hits:
-#    %td= @stats['get_hits']
-#  %tr
-#    %td Cache misses:
-#    %td= @stats['get_misses']
-#  %tr
-#    %td Cache flushes:
-#    %td= @stats['cmd_flush']


%table
  %thead
    %tr
      %th Имя
      %th Эл.почта
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= link_to 'Показать', user
        %td= link_to 'Редактировать', edit_user_path(user)
        %td= link_to 'Удалить', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Новый пользователь', new_user_path
