-#/**
-# * Created by aleks_ivanishchev on 25.03.16.
-#*/

-#for Modal window
-##overlay_m
-#  %div
-#    %span.close{:title => "Close table"} x
-#    %h2 Your selected images diagnosys results
-#    .results_list
-#@current_locale = #{@current_locale.inspect}

.image
  .row
    .col-md-3
      .left_controls
        -#.load_image
        -#  = render 'work/button_load'
        -#  %br
        .select_theme
          = render 'work/button_theme_select', locale: @current_locale
          %br
        -#.select_image
        -#  = render 'work/button_select'
        -#  %br
        .modal_list_results
          = render 'work/button_list_results'
          %br

        %span.common_value
          = t('.common_value')
          %h2.common{:title => "Common value"}
        %span.total_values
          = t('.total_values')
          %h2.total{:title => "Total values"} #{@values_qty.round}

      .brainlook
        %a{:href => "http://www.brainlook.org"}
          %img{:alt => "Share to Brainlook", :src => "assets/brainlook_logo.png", :title => "Braonlook",:style => "width:28%;" }
          %p{:title => "Braonlook"}
            = t('.share_opinion')

    .col-md-9
      .image_display

        .row.image
          .col-md-12
            %h2.up-theme{:title => t('.theme_name')}
              #{@selected_theme}

          .col-md-12
            %h2.up{:title => "Image file name"}
              #{@selected_image_name}

          .col-md-1
            .img-left-side
              %h3{:title => "list to previous image"}
                %i.fa.fa-chevron-circle-left.strong

              -#%button.button__results.yes{:title => "Save image diag results"}
              -#  %a{"data-remote" => "true", :format => "js", :href => "#", :title => "Save image diag results"} save
              -#%button.button__results.no{:title => "Clear image diag results"}
              -#  %a{"data-remote" => "true", :format => "js", :href => "#", :title => "Clear image diag results"} clear

          .col-md-10
            .img-center{:title => "Default image"}
              %img{:alt => "Default Image", :src => 'assets/pictures/raduga5обрез.jpg', :title => "Default image",:style => "width:100%; height:100%;" }
              .image_user_value{:title => "Expert value"}

              -#.img-title

          .col-md-1
            .img-right-side
              %h3{:title => "list to next image"}
                %i.fa.fa-chevron-circle-right

        .row.diag
          .col-md-12
            .image_diag
              -#.scale
              -#  .small_img_box
              -#    %img{:alt => "Default Image", :src => 'assets/pictures/Серый - середина - стандарт.jpg', :title => "Default image",:style => "width:100%; height:100%;" }

              -#main var
              #chosen_value 50
              %h2.down{:title => "Value scale"}
                = t(".make_decision")
              %button.button__results.save{:title => "Save image diag results"}
                %a{"data-remote" => "true", :format => "js", :href => "#", :title => "Save image diag results"}
                  = t(".save_decision")

              %p.left 5%
              #slider
                %input#slide{:max => "100", :min => "5", :value => "50",
                             :onchange => "updateSlider(this.value)",
                             :step => "5", :type => "range"}
              %p.right 100%
              %br

              -##picHolder
              -#  %img#pic{:alt => "cat eye", :src => "assets/pictures/cateye.jpg"}
              -#
              -#%input#range{:min => "1", :max => "190", :oninput => "onchangeWidth()", :type => "range", :value => "0"}/


